.buttonContainer{
  width: 80%;
  height: 70px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.buttonBox{
  width: 17%;
  height: 70px;
  border-radius: 50px;
}

.imageBox {
  display: flex;
}