.leftWrapper {
  background-color: #999;
}

$leftWrapperWidth: 288px;

.createChannelBox{
    box-sizing: border-box;
    position: absolute;
    width: $leftWrapperWidth;
    height: 66px;
    left: 0px;
    top: 0px;
    background: #FF6161;
    border: 1px solid #000000;
    border-radius: 15px;
}

.createChannelFont{
    position: absolute;
    width: $leftWrapperWidth;
    height: 50px;
    left: ($leftWrapperWidth / 2) - (174 / 2);
    top: 5px;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.channelPannelBox{
    box-sizing: border-box;
    position: absolute;
    width: $leftWrapperWidth;
    height: 50px;
    left: 0px;
    top: 67px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

.channelPannelFont{
    position: absolute;
    width: 140px;
    height: 50px;
    left: ($leftWrapperWidth / 2) - 70px;
    top: 1px;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}