/* 유저 프로필 배경 */

$userProfileFontWidth: 180px;
$userProfileBackgroundWidth: 634px;

$userProfileFontLeft: ($userProfileBackgroundWidth / 2) - ($userProfileFontWidth / 2);

.userProfileBackground{
    box-sizing: border-box;
    position: relative;
    width: $userProfileBackgroundWidth;
    height: 686px;
    left:0px;
    top: 0px;
    background: #292929;
    border: 1px solid #000000;
    border-radius: 5px;
}

/* 유저 프로필 사진 */
.userProfilePicture{
    position: relative;
    width: 140px;
    height: 144px;
    left: ($userProfileBackgroundWidth / 2) - (140 / 2);
    top: 30px;
    border-radius: 5px;
}

/* 유저 이름 */
.userProfileName{
    position: relative;
    width: auto;
    height: auto;
    left: $userProfileFontLeft;
    top:60px;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

$stateTop: 80px;
$fontSize: 42px;

/* 게임 상태 */
.GameState{
    position: relative;
    width: 120px;
    height: 43.72px;
    top: $stateTop;
    left: $userProfileFontLeft;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: 400;
    font-size: $fontSize;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B1D276;
}

.onlineState{
    position: relative;
    width: 200px;
    height: 43.72px;
    top: $stateTop;
    left: $userProfileFontLeft;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: 400;
    font-size: $fontSize;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #7ECFF2;
}

.offlineState{
    position: relative;
    width: 200px;
    height: 43.72px;
    top: $stateTop;
    left: $userProfileFontLeft;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: 400;
    font-size: $fontSize;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #A7A7A7;
}

/* 승리횟수 */
.userCount{
    position: relative;
    width: auto;
    height: auto;
    left: 0px;
    top: $stateTop + 25px;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: 400;
    font-size: $fontSize;
    line-height: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.ladderPoint{
    position: relative;
    width: auto;
    height: auto;
    left: 0px;
    top: 150px;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: 400;
    font-size: $fontSize;
    line-height: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

  /* Rectangle 27 */
.editButtonRectangle{
    box-sizing: border-box;
    position: relative;
    width: 400px;
    height: 60px;
    left: ($userProfileBackgroundWidth / 2) - (400 / 2);
    top: 220px;
    border: 2px solid #FF3333;
    border-radius: 5px;
}

.editButtonRectangle:hover{
    background-color: #9c4444;
}

/* edit my info */
.editButtonFont{
    position: relative;
    width: 280px;
    height: 51.84px;
    left: (400px / 2) - (280px / 2) + 6;
    top: 0px;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FF3A3A;
}

.userListBoxRectangle{
    box-sizing: border-box;
    position: relative;
    width: 400px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #292929;
    border: 1px solid #000000;
    border-radius: 5px;
}








