
    /* 배경 */
.userListBackground{
    position: absolute;
    width: 288px;
    height: 394px;
    left: 1152px;
    top: 395px;
    background: #606060;
}

/* Styles for the container, including the border */
.friendButton {
    position: absolute;
    width: 133.33px;
    height: 54.43px;
    left: 0px;
    top: 0px;
    background: #D9D9D9;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center; /* Horizontally centers the text */
    box-sizing: border-box;
  }
  
  /* Styles for the text inside the button */
  .friendButtonText {
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #000000;
  }
  