/* 유저 프로필 배경 */
.userProfileBackground{
    box-sizing: border-box;
    position: absolute;
    width: 288px;
    height: 396px;
    left: 1152px;
    top: 0px;
    background: #292929;
    border: 1px solid #000000;
    border-radius: 5px;
}

/* 유저 프로필 사진 */
.userProfilePicture{
    position: absolute;
    width: 128px;
    height: 104px;
    left: 1232px;
    top: 30.04px;
    border-radius: 5px;
}

/* 유저 이름 */
.userProfileName{
    position: absolute;
    width: auto;
    height: auto;
    left: 1242.67px;
    margin-top: 105px;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

/* 게임 상태 */
.GameState{
    position: absolute;
    width: 120px;
    height: 43.72px;
    left: 1252px;
    top: 162px;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B1D276;
}

.outGameState{
    position: absolute;
    width: 200px;
    height: 43.72px;
    left: 1224px;
    top: 162px;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B1D276;
}

/* 승리횟수 */
.userCount{
    position: absolute;
    width: auto;
    height: auto;
    left: 1244px;
    top: 200px;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.ladderPoint{
    position: absolute;
    width: auto;
    height: auto;
    left: 1220px;
    top: 264px;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}










