$backgroundWidth: 1280px;
$MatchWidth: 400px;

$SearchBoxH: 50px;
$SearchBoxW: 400px;
$SearchBoxTop: -120px;

.gameWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  // padding-top: 1vh;
}

.gameBackground{
  position: absolute;
  width: 1024px;
  height: 500px;
  background: #000000;
  border: 3px solid #ffffff;
  padding: 3px;
  margin-bottom: 30px;
}

.searchContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  width: 40%;
  height: $SearchBoxH;
  background: #5f5f5f;
  border: 3px solid #000000;
  border-radius: 20px;
}

.searchBox{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  padding: 0 10px;
  background: transparent;
  width: 90%;
  height: $SearchBoxH;
  font-style: normal;
  font-size: 25px;
  color : #ffffff;
}

.searchIconContainer{
}

.searchIcon{
  width: 35px;
  height: 35px;
}

.matchButton{
  transform: translateY(23vh);
  width: 300px;
  height: 70px;
  background: #5f5f5f;
  border: 3px solid #000000;
  border-radius: 20px;
  z-index: 300;
}

.matchButton:hover{
  background-color: #4d3e4d;
}

.matchButtonFont{
  font-style: normal;
  font-size: 42px;
  color: #000000;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameHistoryBackground{
  box-sizing: border-box;
  padding : 10px 10px;
  width: 100%;
  height: 100%;
  background: #5f5f5f;
  border: 2px solid #ffffff;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.historyContainer{
  width: 800px;
  height: 390px;
  align-items: center;
  overflow: scroll;
  border-radius: 20px;
}

.historyBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  width: 750px;
  height: 50px;
  left: 3%;
  top: 10px;
}

.matchTypeBox{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 150px;
  height: 50px;
  border: 1px solid #ffffff;
}
.matchType-CUSTOM{
  background-color: #1faf1f;
}

.matchType-LADDER{
  background-color: #496dee;
}

.historyLeftBox{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 250px;
  height: 50px;
  border: 1px solid #ffffff;
}

.historyRightBox{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 250px;
  height: 50px;
  border: 1px solid #ffffff;
}

.historyCenterBox{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 100px;
  height: 50px;
  border: 1px solid #ffffff;
}

.historyFont{
  font-style: normal;
  font-size: 25px;
  color: #ffffff;
  padding : 0 10px;
}

.matchTimeFont{
  width: fit-content;
  position: relative;
  font-style: normal;
  font-size: 20px;
  top: 10px;
  left: 65%;
  color: #ffffff;
  padding : 0 10px; 
}


.resultFont{
  font-style: normal;
  font-size: 40px;
  color: #ffffff;
}

.resultBox{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 400px;
  height: 100px;
  left: 30%;
  top: 180px;
}

.backButton{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 200px;
  height: 80px;
  left: 39%;
  top: 350px;
  border: 3px solid #ffffff;
  border-radius: 20px;
}

.backButton:hover{
  background-color: #4d3e4d;
}

.backFont{
  font-style: normal;
  font-size: 60px;
  color: #ffffff;
}

.matchingFont{
  position: relative;
  font-style: normal;
  font-size: 80px;
  color: #ffffff;
  text-align: center;
}

@keyframes blinkAnimation {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.blinking {
  animation: blinkAnimation 1s infinite;
}

.countBox {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 400px;
  height: 100px;
  left: 30%;
  top: 180px;
  border: 3px solid #ffffff;
  border-radius: 20px;
}

.countFont {
  font-style: normal;
  font-size: 80px;
  color: #ffffff;
  text-align: center;
}

.inviteContainer {
  box-sizing: border-box;
  position: relative;
  width: 500px;
  height: 480px;
  top: 5px;
  left: 27%;
  border-radius: 20px;
}

.inviteAvatar{
  box-sizing: border-box;
  position: relative;
  width: 200px;
  height: 200px;
  top: 15px;
  left: 30%;
  background: #000000;
  border: 3px solid #ffffff;
  border-radius: 20px;
}

.inviteFont{
  font-style: normal;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inviteButtonContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  width: 350px;
  height: 80px;
  left: 17%;
  top: 10px;
  justify-content: space-between;
}

.inviteButton{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 150px;
  height: 80px;
  border: 3px solid #ffffff;
  background: #FF6161;
  border-radius: 20px;
}

.inviteButton:hover{
  background-color: #ffa3a3;
}

.inviteCancleButton{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 200px;
  height: 80px;
  left : 28%;
  top : 10px;
  border: 3px solid #ffffff;
  background: #FF6161;
  border-radius: 20px;
}

.inviteCancleButton:hover{
  background-color: #ffa3a3;
}

.inviteButtonFont{
  font-style: normal;
  font-size: 30px;
  color: #ffffff;
}

.gameModalBox{
  width: 400px;
  height: 350px;

  z-index: 999;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #ffffff;
  border: 3px solid #1faf1f;
  border-radius: 8px;
  align-items: center;
}

.gameModalButton{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 200px;
  height: 90px;
  left : 25%;
  top : 20%;
  border: 3px solid #ffffff;
  background: #FF6161;
  border-radius: 20px;
}

.gameModalButton:hover{
  background-color: #ffa3a3;
}

.gameModalFont{
  font-style: normal;
  font-size: 40px;
  color: #ffffff;
}


.gameModeFont {
  font-style: normal;
  font-size: 40px;
  color: #000000;
}

.radioGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #000000;

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  input[type="radio"] {
    margin-right: 10px;
  }
}

.radioLabel {
  display: flex;
  align-items: center;
  margin-top: 100px;
  cursor: pointer;
}

.radioLabel input[type="radio"] {
  appearance: none;
  width: 40px;
  height: 40px;
  border: 2px solid #FF25A8;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

.radioLabel input[type="radio"]:checked {
  border-color: #FF25A8;
  background-color: #52a534;
}