.background {
    background-color: #aaa5aa;
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameBackground {
    width: 65%;
    height: 55%;
    background: rgba(45, 18, 66, 0.26);
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.buttonsWrapper {
    width: 85%;

    display: flex;
    justify-content: space-between;
    // padding: 0 50px;
}

.displayBackground {
    width: calc(100% - 100px);
    height: calc(100% - 50px);
    background: #859E5A;
    border: 5px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.codeWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 50px;
    align-items: center;
}

.codeBackground {
    background: url('/asset/2faInput.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 6vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 1% 0 0;
    font-size: 3vw;
}

.dash {
    font-size: 5vw;
}

.qrWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}

.qrCode {
    width: 10vw;
    border-radius: 10%;
}

.pigtail {
    width: 7vw;
    transform: skewX(180deg) rotate(-40deg) translate(40px, -50px);
}

.qrText {
    font-size: 2vw;
    transform: translateX(50px) translateY(-30px);
}

.qrText a {
    color: rgb(0, 242, 255);
    text-decoration: underline;
}

.gameFont,
.pressFont {
    z-index: 90;
    line-height: 101px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.gameCrossDeco {
    // padding-bottom: 100px;
    transform: translateY(-5vh);
    width: 10vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: flex-start;
    transform: rotate(-5.57deg);
}

.midButtons {
    min-width: 25%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-top: 100px;
    transform: translateX(5vw);
}

.GameRoundRectangleDecoSelect {
    width: 10vw;
}

.GameRoundRectangleDecoStart {
    width: 10vw;
}

.startFont,
.selectFont {
    font-style: italic;
    font-weight: 600;
    font-size: 2vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #464084;
    transform: rotate(-26deg) translateX(1.7vw);
}

.startFont {
}

.selectFont {
}

.roundContainer {
    display: flex;
    transform: rotate(-39deg) translate(2vw, 2vw);
    justify-content: space-between;
    width: 16vw;
    height: 13vw;
}

.roundBtnWrapper {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 17vh;
}

.gameRoundDecoA,
.gameRoundDecoB {
    margin-bottom: 20px;
    width: 7vw;
}

.gameRoundFontA,
.gameRoundFontB {
    width: 100%;
    font-style: italic;
    font-weight: 600;
    font-size: 4vw;
    line-height: 45px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #464084;
}

.gameRoundFontA {
}

.gameRoundFontB {
}