.displayBackground {
    width: calc(100% - 100px);
    height: calc(100% - 50px);
    background: #859E5A;
    border: 5px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.codeWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 50px;
    align-items: center;
}

.codeBackground {
    background: url('/asset/2faInput.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 6vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 1% 0 0;
    font-size: 3vw;
}

.dash {
    font-size: 5vw;
}

.qrWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}

.qrCode {
    width: 10vw;
    border-radius: 10%;
}

.pigtail {
    width: 7vw;
    transform: skewX(180deg) rotate(-40deg) translate(40px, -50px);
}

.qrText {
    font-size: 2vw;
    transform: translateX(50px) translateY(-30px);
}

.qrText a {
    color: rgb(0, 242, 255);
    text-decoration: underline;
}