.bottomContainer{
  display: flex;
  position: relative;
}

.bottomMyInfo {
  background-color: #292929;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  width: 85%;
  height: 100px;
  border: 5px solid #FF4365;
}

.myAvatarBox{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 100px;
  height: 100px;
}

.myAvatar {
  margin-left: 8%;
  background-color: deeppink;
  width: 80px;
  height: 80px;
  border-radius: 40%;
}

.myNameBox {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 280px;
  height: 100px;
}

.myName {
  color: #ffffff;
  font-size: 40px;
}

.myStatusBox {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 130px;
  height: 80px;
}

.myStatus {
  font-size: 30px;
}

.logoutBox {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 15%;
  height: 100px;
  background-color: #FF4365;
}