.bottomContainer{
  display: flex;
  position: relative;
  border: 3px solid #ffffff;
  border-radius: 5px;
  height: 90px;
  background: #292929;
}

.bottomMyInfo {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  width: 85%;
}

.bottomMyInfo:hover{
  background-color: #3c3c3c;
}

.myAvatarBox{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 90px;
  // height: 90px;
}

.myAvatar {
  margin-left: 8%;
  background-color: deeppink;
  width: 80px;
  // height: 80px;
  border-radius: 40%;
}

.myNameBox {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 280px;
  // height: 90px;
}

.myName {
  color: #ffffff;
  font-size: 40px;
}

.myStatusBox {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 130px;
  // height: 80px;
}

.myStatus {
  font-size: 30px;
}

.myInfoButtonBox {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 15%;
  // height: 90px;
}

.myInfoButtonBox:hover{
  background-color: #3c3c3c;
  cursor: pointer;
}