.userListItem {
  background-color: #292929;
  width: 100%;
  height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.userListItem:hover {
  background-color: #3c3c3c;
  cursor: pointer;
}

.userListItemAvatar {
  margin-left: 5px;
  background-color: deeppink;
  width: 80px;
  height: 80px;
  border-radius: 40%;
}

.userListItemName {
  color: white;
}

.userListItemStatus {
  color: white;
}

