.userListContainer{
  background-color: #292929;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  height: 80px;
  border: 1px solid #ffffff;
}

.allWidth{
  width: 100%;
}

.friendWidth{
  width: 80%;
}

.channelWidth{
  width: 70%;
}

.all{
  display: flex;
  border : 1px solid #ffffff;
}

.channel{
  display: flex;
  border: 1px solid #ffffff;
}

.friend{
  display: flex;
  border: 1px solid #ffffff;
}

.userListContainer:hover {
  background-color: #3c3c3c;
  cursor: pointer;
}

.userAvatarBox{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 80px;
  height: 80px;
}
.userAvatar{
  background-color: deeppink;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.userNameBox{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 300px;
  height: 80px;
}

.userName{
  color: #ffffff;
  font-size: 38px;
}
.userChatRoleBox{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 3px;
}

.userChatRole{
  color: #ffffff;
}

.userListButtonContainer{
  display: flex;
  width: 100%;
  background: #292929;
  align-items: center;
  justify-content: center;
}

.buttonBox{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 15px;
  border-radius: 50%;
}

.buttonBox:hover{
  background-color: #b8b7b7;
  cursor: pointer;
}