.chatWrapper {
    position: relative;
    width: 1280px;
    height: 685px;
    left: 0px;
    top: 0px;
    background: #414141;
    font-family: "ArcadeClassic";
}

.chatMenuBox{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 80px;
    border: 4px solid #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.settingButton{
    box-sizing: border-box;
    position: absolute;
    top: 8px;
    left: 15px;
}

.userlistButton{
    box-sizing: border-box;
    position: absolute;
    top: 15px;
    right: 30px;
}


.LobbyMessageFont{
    width: 250px;
    height: 43.62px;
    top: 10px;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFEA2D;
}

.lobbyMessageBar{
    position: absolute;
    width: 450px;
    height: 1.32px;
    left: 30px;
    top: 60px;
    border: 2px solid #FFEA2D;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.spanSendMessage{
    // display: flex;
    // justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 43px;
    left: 30px;
    bottom: 25px;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFEA2D;
    padding: 20px;
}

.inputMessageBox{
    box-sizing: border-box;
    position: absolute;
    width: 1000px;
    left: 20px;
    color: #FFFFFF;
    border-radius: 5px;
    border: 3px solid #35C2FF;
    background-color: transparent;
    padding: 10px;
}

.messageSendBox{
    box-sizing: border-box;
    position: absolute;
    width: 150px;
    height: 50px;
    right: 100px;
    border: 3px solid #35C2FF;
    border-radius: 5px;
    color: #35C2FF;
    font-size: 27px;
}

.messageSendBox:hover{
    background-color: #0b82b5;
}
