.chatWrapper {
    position: relative;
    background: #414141;
}

.chatMenuBox {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 80px;
    border: 4px solid #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.chatMenuTitle {
    position: absolute;
    left: 80px;
    top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    color: #FFFFFF;
}

.settingButton {
    box-sizing: border-box;
    position: absolute;
    top: 8px;
    left: 15px;
    width: 50px;
    height: 50px;
}

.userlistButton {
    box-sizing: border-box;
    position: absolute;
    right: 150px;
    top: 12px;
    width: 50px;
    height: 50px;
    padding: 3px;
}

.exitButton {
    box-sizing: border-box;
    position: absolute;
    top: 12px;
    right: 80px;
    width: 50px;
    height: 50px;
    padding: 3px;
}

.closeButton {
    box-sizing: border-box;
    position: absolute;
    top: 12px;
    right: 20px;
    width: 50px;
    height: 50px;
    padding: 3px;
}

.LobbyMessageFont {
    width: 250px;
    height: 43.62px;
    top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFEA2D;
}

.lobbyMessageBar {
    position: absolute;
    width: 450px;
    height: 1.32px;
    left: 30px;
    top: 60px;
    border: 2px solid #FFEA2D;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.spanSendMessage {
    position: absolute;
    width: 100%;
    height: 43px;
    left: 30px;
    bottom: 25px;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 20px;
    display: grid;
    align-items: center;
    text-align: center;
    color: #FFEA2D;
    padding: 30px;
}

.inputMessageBox {
    box-sizing: border-box;
    position: absolute;
    width: 1000px;
    left: 20px;
    color: #FFFFFF;
    border-radius: 5px;
    border: 3px solid #35C2FF;
    background-color: transparent;
    padding: 10px;
}

.messageSendBox {
    box-sizing: border-box;
    position: absolute;
    width: 150px;
    height: 50px;
    right: 100px;
    border: 3px solid #35C2FF;
    border-radius: 5px;
    color: #35C2FF;
    font-size: 27px;
}

.messageSendBox:hover {
    background-color: #0b82b5;
}


/* ChatRoom */

.chatRoomBox {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: calc(100% - 80px);
    top: 80px;
    background-color: #414141;
    border: 4px solid #FFFFFF;
    border-radius: 10px;
}

.chatDisplay {
    max-height: 85%;
    min-height: 85%;
    height: auto;
    width: 100%;
    overflow-y: auto;
    border: 1px solid salmon;
}

/* ChatMessage */

$sizeProfilePicture: 70px;
$sizeSenderName: 30px;

.myMessage {
    display: flex;
    position: relative;
    align-items: flex-start; /* 아래로 정렬 */
    justify-content: flex-end; /* 오른쪽으로 정렬 */
    margin-top: 10px;
    margin-right: 20px;
    text-align: right;
}

.otherMessage {
    display: flex;
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;
}

.notiMessage {
    display: flex;
    position: relative;
    width: 90%;
    margin-top: 10px;
    text-align: center;
    justify-content: space-evenly;
    font-size: 25px;
}

.notiMessageContent {
    display: inline-block;
    position: relative;
    background-color: #7f98a3;
    border-radius: 20px;
    color: #ffffff;
    margin-top: 5px;
    padding: 7px 12px;
    margin-bottom: 5px;
    max-width: 90%;
    margin-inline: 10px;
    word-wrap: break-word; /* 이 부분을 추가해 줄 바꿈을 활성화합니다. */
}

.myMessageProfileButton {
    /* 오른쪽 정렬 */
    order: 2; /* 프로필 사진이 내 메시지일 때 */
    margin-left: 10px; /* 추가적인 오른쪽 간격 */
  }
  
  .otherMessageProfileButton {
    /* 왼쪽 정렬 */
    order: 0; /* 프로필 사진이 상대방 메시지일 때 */
    margin-right: 10px; /* 추가적인 왼쪽 간격 */
  }

.messageContent {
    display: inline-block;
    justify-content: left;
    position: relative;
    background-color: #d2f1ff;
    border-radius: 20px;
    color: #171717;
    margin-top: 5px;
    padding: 7px 12px;
    margin-bottom: 5px;
    max-width: 450px;
    margin-inline: 10px;
    word-wrap: break-word; /* 이 부분을 추가해 줄 바꿈을 활성화합니다. */
}

.chatProfilePicture {
    box-sizing: border-box;
    border-radius: 50%;
    position: relative;
    width: 70px;
    height: 70px;
    display: inline-block;
    align-content: center;
    font-style: normal;
    font-weight: 200;
}

.chatSenderName {
    box-sizing: border-box;
    position: relative;
    font-style: normal;
    font-weight: 20;
    font-size: 22px;
    margin-inline: 10px;
    color: #FFFFFF;
}

.messageTime {
    box-sizing: border-box;
    position: relative;
    color: #b7b7b7;
    font-style: normal;
    font-weight: 10;
    font-size: 18px;
    margin-inline: 10px;
}

.commonContents {
    flex-flow: column nowrap;
}

