.online {
  color: green;
}

.offline {
  color: red;
}

.inGame {
  color: blue;
}

.matching {
  background: yellow;
}

.online2 {
  background: green;
}

.offline2 {
  background: red;
}

.inGame2 {
  background: blue;
}

.matching2 {
  background: yellow;
}

