.online {
  color: green;
}

.offline {
  color: red;
}

.inGame {
  color: blue;
}

.matching {
  background: yellow;
}

.statusOnLine {
  background: green;
}

.statusOffLine {
  background: red;
}

.statusInGame {
  background: blue;
}

.statusMatching {
  background: yellow;
}

.userStatusBox{
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userStatus {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border : 1px solid #ffffff;
}