@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Kyobo_handwriting';
  src: url('/fonts/Kyobo_Handwriting.ttf') format('truetype');
}

*:not(body):not(html) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Kyobo_handwriting' !important;
  font-style: normal;
  font-weight: 400;
  background-color: #adff2f50;
}

/* *:nth-child(2n) {
  outline: 1px solid #ff000050;
} */


body {
  /* overflow: auto; */
  /* background-color: red; */
  /* width: 100vw !important; */
  /* height: 100dvh !important; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}