.leftWrapper {
  background-color: #999;
  width: 500px;
}

$leftWrapperWidth: 100%;
$CreChaBoxH: 70px;
$ChaPanBoxH: 60px;
$SelPanBoxH: 52px;

$PanelFontWeight: 400;

.createChannelBox{
    box-sizing: border-box;
    position: relative;
    height: $CreChaBoxH + 5px;
    width: $leftWrapperWidth;
    left: 0px;
    top: 0px;
    background: #FF6161;
    border: 8px #999;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.createChannelFont{
    box-sizing: border-box;
    position: relative;
    height: $CreChaBoxH + 5px;
    width: $leftWrapperWidth;
    left: 0px;
    top: 0px;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: $PanelFontWeight + 100;
    font-size: 35px;
    line-height: $CreChaBoxH + 5px;
    color: #FFFFFF;
}

.channelPanelBox{
    box-sizing: border-box;
    position: relative;
    width: $leftWrapperWidth;
    height: $ChaPanBoxH;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-content: center;
}

.channelPanelFont{
    position: relative;
    height: $ChaPanBoxH;
    left: 0px;
    top: 0px;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: $PanelFontWeight;
    font-size: 29px;
    line-height: $ChaPanBoxH;
    color: #000000;
}

.unselectedPanelTab{
  box-sizing: border-box;
  position: relative;
  width: $leftWrapperWidth / 2;
  height: $SelPanBoxH;
  left: 0px;
  top: 0px;
  background: #aaa2a2;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-content: center;
}

.selectedPanelTab{
    box-sizing: border-box;
    position: relative;
    width: $leftWrapperWidth / 2;
    height: $SelPanBoxH;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-content: center;
}

.selectPanelFont{
    position: relative;
    width: $leftWrapperWidth / 2;
    height: $SelPanBoxH;
    left: 0px;
    top: 0px;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: $PanelFontWeight - 80;
    font-size: 27px;
    line-height: $SelPanBoxH;
    color: #000000;
}

.channelButtonsWrapper {
    display: flex;
  }







.listSearchButton{
    box-sizing: border-box;
    position: relative;
    width: 288px;
    height: 53.36px;
    left: 0px;
    top: 54px;
    background: #5F5F5F;
    border: 3px solid #FF25A8;
  }

/* Vector */  
  .listSearchVector{
    position: relative;
    left: 85.25%;
    right: 3.75%;
    top: 11.96%;
    bottom: 82.12%;
  }
