.leftWrapper {
  background-color: #999;
}

$leftWrapperWidth: 288px;
$CreChaBoxH: 67px;
$CrePanBoxH: 50px;
$CrePanBoxTop: $CreChaBoxH + 5;
$SelPanBoxH: 60px;
$SelPanBoxTop: $CreChaBoxH + $CrePanBoxH - 2;

.createChannelBox{
    box-sizing: border-box;
    position: relative;
    width: $leftWrapperWidth;
    height: $CreChaBoxH;
    left: 0px;
    top: 0px;
    background: #FF6161;
    border: 1px solid #000000;
    border-radius: 15px;
}

.createChannelFont{
    position: relative;
    width: $leftWrapperWidth;
    height: 50px;
    left: ($leftWrapperWidth / 2) - (174 / 2);
    top: 5px;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.channelPannelBox{
    box-sizing: border-box;
    position: relative;
    width: $leftWrapperWidth;
    height: $CrePanBoxH + 5px;
    left: 0px;
    top: $CrePanBoxTop;
    background: #FFFFFF;
    border: 1px solid #000000;
}

.channelPannelFont{
    position: relative;
    width: 140px;
    height: 50px;
    left: ($leftWrapperWidth / 2) - 70px;
    top: 1px;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.selectAllPannelBox{
    box-sizing: border-box;
    position: relative;
    width: $leftWrapperWidth / 2;
    height: $SelPanBoxH;
    left: 0px;
    top: $SelPanBoxTop;
    background: #FFFFFF;
    border: 1px solid #000000;
}

.selectAllPannelFont{
    position: relative;
    width: 50px;
    height: 61.35px;
    left: ($leftWrapperWidth / 4) - (50 / 2);
    top: 0px;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.selectMyPannelBox{
    box-sizing: border-box;
    position: relative;
    width: $leftWrapperWidth / 2;
    height: $SelPanBoxH;
    left: $leftWrapperWidth / 2;
    top: $SelPanBoxTop;
    background: #D8D8D8;
    border: 1px solid #000000;
}

.selectMyPannelFont{
    position: relative;
    width: 40px;
    height: 61.35px;
    left: ($leftWrapperWidth / 4) - 15 ;
    top: 0px;
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.listSearchButton{
    box-sizing: border-box;
    position: relative;
    width: 288px;
    height: 53.36px;
    left: 0px;
    top: 54px;
    background: #5F5F5F;
    border: 3px solid #FF25A8;
  }

/* Vector */  
  .listSearchVector{
    position: relative;
    left: 85.25%;
    right: 3.75%;
    top: 11.96%;
    bottom: 82.12%;
  }
